USE [master]
GO
/****** Object:  Database [OrchidDB]    Script Date: 07-Oct-26 8:06:50 AM ******/
CREATE DATABASE [OrchidDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrchidDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OrchidDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrchidDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OrchidDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrchidDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrchidDB]
GO
/****** Object:  Table [dbo].[orchid_categories]    Script Date: 07-Oct-26 8:06:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orchid_categories](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKfkiy8fm5oy2wjtcrfdyipv6og] UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orchids]    Script Date: 07-Oct-26 8:06:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orchids](
	[orchid_id] [bigint] IDENTITY(1,1) NOT NULL,
	[is_attractive] [bit] NULL,
	[is_natural] [bit] NULL,
	[orchid_description] [varchar](1000) NULL,
	[orchid_name] [varchar](150) NOT NULL,
	[orchid_url] [varchar](2048) NULL,
	[category_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orchid_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[orchids]  WITH CHECK ADD  CONSTRAINT [FK1nau98c2g1u4qk2nx7fmj0dt5] FOREIGN KEY([category_id])
REFERENCES [dbo].[orchid_categories] ([category_id])
GO
ALTER TABLE [dbo].[orchids] CHECK CONSTRAINT [FK1nau98c2g1u4qk2nx7fmj0dt5]
GO
USE [master]
GO
